SECRET_KEY = 'uCVi_\xdcwd\x08\xbf?\xcb\xa6\xbc\xcf'
HOST = '0.0.0.0'
PORT = 8080
DEBUG = True


# Config flask-mail settings https://pythonhosted.org/Flask-Mail/
MAIL_SERVER = 'smtp.gmail.com'
MAIL_PORT = 587
MAIL_USE_TLS = True
MAIL_USE_SSL = False
